<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Gautam Kotian - {{ page.title }}</title>
        <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen"
        charset="utf-8"/>
<!--
        <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
-->
    </head>

    <body>
        <div id='wrapper'>
            <div id='header'>
                <h1>Gautam Kotian</h1>
            </div>

        <div id='menu'>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/travels/index.html'>Travels</a></li>
                <li><a href='http://github.com/gkotian' target='_blank' rel='me'>GitHub</a></li>
                <li><a href='https://www.linkedin.com/in/gautamkotian' target='_blank' rel='me'>
                    LinkedIn</a></li>
                <li><a href='https://www.couchsurfing.com/users/603947/profile' target='_blank'
                    rel='me'>Couchsurfing</a></li>
            </ul>
        </div>
    <div id='content'>

