---
layout: master
---
<div class='post'>
  <span class='date'>{{page.date | date_to_string}}</span>
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class='body'>{{ content }}</div>
</div>

<div class="PageNavigation">
  {% if page.previous.url %}
    <div class="prev">
      <span style="display:block; margin-bottom:0;">Previous post</span>
      <a href="{{page.previous.url}}" style="font-size:1.2em;">&laquo; {{page.previous.title}}</a>
    </div>
  {% endif %}
  {% if page.next.url %}
    <div class="next">
      <span style="display:block; margin-bottom:0;">Next post</span>
      <a href="{{page.next.url}}" style="font-size:1.2em;">{{page.next.title}} &raquo;</a>
    </div>
  {% endif %}
</div>

